
.popup {
    padding: 20px;
    background-color: rgba(100, 100, 100, 0.9);
    color: white;
    font-weight: 100;
    font-size: 14px;
    position: absolute;
  }

.popup > .close {
   position: absolute;
   right: -10px;
   top: -10px;
   background-color: black;
   padding: 4px 10px;
}

.popup:target {
    opacity: 1;
    transform: scale(1);
}