body {
    /*background-image: url("nebe.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;*/


}

h1 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    color: bisque;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 10px purple;

    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-image: url("title_background.jpg");

}

.btn {
    background-image: url("title_background.jpg");
    color: bisque;
    text-transform: uppercase;
    text-shadow: 6px 6px 10px purple;
    padding: 16px;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 35px;
    margin-left: 15px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  

  .btn {border-radius: 25%;}

  .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }