body {
    
    background-image: url("../Images/spacestars2.png");
    width:100%;
    margin: 0;
    padding: 0;
}

.solarSystem {
    margin: none;
}

.object {
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY( 50vmin );
}

.p-orbit, #m-orbit{
    border: 0.1vmin solid lightgrey;
    opacity: 0.5;
    background: transparent;
}
  
#m-orbit {
    height: 5vmin;
    width: 5vmin;
}

#sun {
    border: 10vimn solid rgb(249, 215, 28);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 6vmin;
    width: 6vmin;
    background-color:rgb(249, 215, 28);
}
  
#moon {
    border: 3px solid rgb(156, 140, 140);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 1.5vmin;
    width: 1.5vmin;
    background-color: rgb(156, 140, 140);
}
  
#mercury {
    border: 3px solid rgb(112,128,144);
    background-color: rgb(112,128,144);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 1.7vmin;
    width: 1.7vmin;
}
  
#venus {
    border: 3px solid rgb(251,230,139);
    background-color: rgb(251,230,139);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 2.2vmin;
    width: 2.2vmin;
}
  
#earth {
    border: 3px solid rgb(13,152,186);
    background-color: rgb(13,152,186);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 2.2vmin;
    width: 2.2vmin;
}
  
#mars {
    
    border: 3px solid rgb(198,123,92);
    background-color: rgb(198,123,92);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 1.9vmin;
    width: 1.9vmin;
}
  
#jupiter {
    border: 3px solid rgb(216,202,157);
    background-color: rgb(216,202,157);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 5vmin;
    width: 5vmin;
    
}
  
#saturn {
    border: 3px solid rgb(195,155,119);
    background-color: rgb(195,155,119);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 4.5vmin;
    width: 4.5vmin;
}
  
#uranus {
    border: 3px solid rgb(11, 165, 165);
    background-color: rgb(11, 165, 165);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 3vmin;
    width: 3vmin;
}
  
#neptune {
    border: 3px solid rgb(16, 134, 134);
    background-color: rgb(16, 134, 134);
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 2.8vmin;
    width: 2.8vmin;
}

h1 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    color: bisque;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 10px purple;

    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    /*background-image: url("../Images/title_background.jpg");*/

}

.btn {
    background-image: url("../Images/spacestars2.png");
    color: bisque;
    text-transform: uppercase;
    text-shadow: 6px 6px 10px purple;
    padding: 16px;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 35px;
    margin-left: 15px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  

.btn {
    border-radius: 25%;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.3);
  }
  
  .modal-content {
    border-radius: 25px;
    background-color: #b9a7a7;
    margin: 15% auto;
    padding: 20px;
    border: 10px solid #b9a7a7;
    width: 80%;
  }
  
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(61, 61, 61);
    text-decoration: none;
    cursor: pointer;
  }